body {
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.7em;
}

#background {
  width: 100%;
  height: 85%;
  margin-top: 9%;
  background-image: url(../images/bracelus_sketches.png);
  background-position: center;
  background-size: contain;
  position: fixed;
  z-index: -1;
}

.header {
  height: 100px;
  overflow: hidden;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0;
  margin-top: 3%;
  position: relative;
  z-index: 5;
}


.back {
  width: 80px;
  height: 40px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 100;
  margin-top: -50px;
  font-weight: 300;
}

.arrow {
  width: 40px;
  height: 40px;
  position: fixed;
  background-image: url(../images/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  z-index: 100;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

.arrowup {
  width: 40px;
  height: 40px;
  position: fixed;
  background-image: url(../images/arrowup.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  z-index: 100;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-10px);}
 60% {-webkit-transform: translateY(-10px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-10px);}
 60% {-moz-transform: translateY(-10px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-10px);}
 60% {-o-transform: translateY(-10px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-10px);}
 60% {transform: translateY(-10px);}
}

p {
  text-align: center;
  font-family: "Montserrat", serif;
  font-size: 1em;
  margin-top: -15px;
  position: relative;
  z-index: 5;

}

.bold {
  font-weight:800;
  font-style: normal;
}


.overview {
  width: 90%;
  margin: auto;
  margin-bottom: 25%;
  top: 100px;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  line-height: 1.7em;
  margin-top: 2%;
  background-color: rgb(255, 241, 214);
  box-sizing: border-box;
  padding: 1.5%;
  padding-left: 14.5%;
  padding-top: 4%;
  padding-right: 14.5%;
  padding-bottom: 4%;
  display: block;
  position: relative;
  z-index: 1;

}

.deliverables {
  margin-top: 7%;
  margin-bottom: 7%;
  width: 63%;
  float: right;
  background-color: rgba(255, 241, 214, 0.9);
  display: block;
  position: relative;
  z-index: 1;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75em;
  line-height: .3em;
  padding-left: 2%;
  padding-top: 1%;
  font-weight: 600;
}
.outline {
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.7em;
  text-align: left;
  padding-right: 10%;
  padding-left: 5%;
  font-weight: 300;
  margin-top: 15px;
}

a {
  color: black;
  font-weight: 600;
}

a:hover {
  color: rgb(252, 46, 88);
}

.problem {
  width: 60%;
  box-sizing: border-box;
  float: left;
  clear: right;
  background-color: rgba(255, 241, 214, 0.9);
  padding: 20px;
  padding-top: 0;
  padding-left: 10%;
}

.problem p {
  text-align: left;
  margin-top: 5px;
}

.requirements {
  width: 60%;
  box-sizing: border-box;
  float: right;
  clear: left;
  background-color: rgba(255, 241, 214, 0.9);
  margin-top: 10%;
  padding: 20px;
  padding-top: 0;
  height: 100%;
  padding-right: 7%;
}

.requirements p {
  text-align: left;
}

.requirements li {
  margin-top: 10px;
}

.requirements ul {
  list-style-type: upper-roman;
}

h3, h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 2em;
}
.solution {
  width: 100%;
  background-color: rgba(255, 241, 214, 0.9);
  position: relative;
  clear: both;
  z-index: 1;
  top: 100px;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
}

.piccontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 70px;
}
.pic1container, .pic2container, .pic3container {
  width: 25%;
  background-color: rgba(0, 0, 0, 0.7);
}

.pic1, .pic2, .pic3 {
  padding-bottom: 100%;
}
