body {
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  line-height: 1.7em;
}

#background {
  width: 100%;
  height: 85%;
  margin-top: 7%;
  background-image: url(../images/bracelus_sketches.png);
  background-position: center;
  background-size: contain;
  position: fixed;
  z-index: -1;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0;
  margin-top: 3%;
  position: relative;
  z-index: 1;
}

p {
  text-align: center;
  font-family: "Work Sans", serif;
  font-size: 1em;
  margin-top: 2%;
  position: relative;
  z-index: 1;

}

.bold {
  font-weight:800;
  font-style: normal;
}


.overview {
  width: 55%;
  float: left;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  line-height: 1.7em;
  margin-top: 2%;
  background-color: rgba(255, 241, 214, 0.9);
  padding: 1.5%;
  padding-left: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  display: block;
  position: relative;
  z-index: 1;

}

.deliverables {
  margin-top: 5%;
  margin-bottom: 90%;
  width: 63%;
  float: right;
  background-color: rgba(255, 241, 214, 0.9);
  display: block;
  position: relative;
  z-index: 1;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.75em;
  line-height: .3em;
  padding-left: 2%;
  padding-top: 1%;
  font-weight: 600;
}
.outline {
  font-style: italic;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  text-align: left;
  padding-right: 10%;
  padding-left: 5%;
  font-weight: 300;
}

a {
  color: black;
  font-weight: 600;
}

a:hover {
  color: rgb(252, 46, 88);
}

.design {
  width: 100%;
  position: relative;
  z-index: 1;
  margin: auto;
  clear: both;
  display: block;
}

.problem {
  width: 49%;
  float: left;
  background-color: rgba(255, 241, 214, 0.9)
}

.solution {
  width: 49%;
  float: right;
  background-color: rgba(255, 241, 214, 0.9)
}
