body {
  width: 100%;
  margin: 0;
}

#home {
  z-index: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgb(109, 143, 255);
}

/*.changeColor1 {
  background: linear-gradient(to right, rgb(85, 50, 255), rgb(196, 137, 255));
}*/

#hometext {
  position: absolute;

}

.intro {
  font-family: "Work Sans", serif;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  font-weight: auto;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: solid;
  border-width: .1em;
  padding: 1% 1%;
  width: 55%;
  margin: auto

}

h1 {
  font-family: "CocoGothicSmallCaps-Bold", "Work Sans", sans-serif;
  font-size: 4.5em;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 15% 22.5% 0% 22.5%;
}

.menuitems {
  list-style-type: none;
  color: rgb(255, 255, 255);
}

.submenu {
  list-style-type: none;
  margin: 0 0 5% 0;
  line-height: .6em;
  box-sizing: border-box;
  width: 80%;
  line-height: 1.5em;
  font-size: .65em;
  font-family: "Work Sans", sans-serif;
}

.menu {
  text-align: left;
  font-family: "Work Sans",sans-serif;
  font-size: 1.75em;
  line-height: 1.5em;
  margin-top: 10px;
  margin-left: -30px;
  position: fixed;
  z-index: 5;
  color: rgb(255, 255, 255);
}

a, a:visited {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: black;
}

.projectlinks .projectlinks:hover {
  color: white;
}

.menuicon {
    font-size: 2em;
    margin: 0;
    margin-top: -5px;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    position: fixed;
}

#aboutme {
  z-index: 0;
  display: block;
  position: absolute;
  box-sizing: border-box;
  margin-top: 80%;
  width: 100%;
  height: 300%;
  background-color: rgb(255, 241, 214);
}

.aboutmetext {
  margin: auto;
  margin-top: 3%;
  width: 73%;
  font-family: "Work Sans", sans-serif;
  font-size: 1.24em;
  line-height: 1.75em;
  text-align: left;
  color: black;
}

.container {
  width: 20%;
  height: 75px;
  display: block;
  margin: auto;
  margin-top: -5%;
  margin-bottom: 20%;
}

.mypic {
  width: 100%;
  height: 15%;
  background-image: url(../images/me.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding-bottom: 100%;
  overflow: hidden;
}


h2, h3 {
  font-family: "CocoGothicSmallCaps-Bold", "Work Sans", sans-serif;
  text-align: center;
  font-size: 3.5em;
  font-weight: bolder;
  width: 100%;
  height: 8%;
  line-height: 2em;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(0, 0, 0);
  margin-top: 0%;
}

h3 {
  margin: 0% auto;
}

#portfolio {
  z-index: 0;
  position: absolute;
  box-sizing: border-box;
  margin-top: 160%;
  width: 100%;
  height: 175%;
  background-color: rgb(255, 153, 153);
  font-family: "Work Sans", sans-serif;
  color: rgb(255, 255, 255);
}

.projects {
  width: 75%;
  height: 50%;
  margin: auto;
  margin-top: 0;
  table-layout: fixed;
  border: none;
  border-collapse: separate;
  border-spacing: 35px;
  overflow: hidden;
}

.project1 {
  background-image: url(../images/bracelus.png);
  background-size: cover;
  background-position: center;
  height: 50%;
  overflow: hidden;
}

.project1toggle, .project2toggle, .project3toggle, .project4toggle, .project5toggle, .project6toggle {
  width: 100%;
  height: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  text-align: left;
  box-sizing: border-box;
  line-height: 1.5em;
  background-color: black;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
}

.projectlinks {
  width: 100%;
  height: 100%;
}
.projectname {
  font-weight: 500;
  font-size: 2em;
}

.projectblurb {
  font-style: italic;
}

.project2 {
  background-image: url(../images/paddles.png);
  background-size: cover;
  background-position: center;
  height: 50%;
  overflow: hidden;
}


.project3, .project4, .project5, .project6 {
  background-color: white;
  height: 50%;
  overflow: hidden;
}

.copyright {
  font-size: .75em;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: absolute;
}

@media only screen and (min-width: 992px) and (max-width: 1250px) {
  h1 {
    margin: 20% 10% 0 10%;
  }

  .intro {
    width: 68%;
  }

  .projects {
    width: 80%;
  }
}

@media only screen and (min-width: 850px) and (max-width: 992px) {
  h1 {
    margin: 25% 7% 0 7%;
  }

  .intro {
    width: 80%;
  }

  #portfolio {
    margin-top: 200%;
  }

  .container {
    margin-top: -7%;
    margin-bottom: 20%;
  }

  .projects {
    width: 85%;
    border-spacing: 20px;
  }

}

@media only screen and (min-width: 500px) and (max-width: 850px) {
  h1 {
    font-size: 3em;
    margin: 35% 5% 0 5%;
  }

  #aboutme {
    margin-top: 115%;
  }

  #portfolio {
    margin-top: 310%;
  }

  .container {
    margin-top: -10%;
    margin-bottom: 30%;
    width: 200px;
  }

  h2, h3 {
    font-size: 3em;
  }

  .intro {
    font-size: 1em;
    width: 75%;
  }

  .projects {
    width: 95%;
    border-spacing: 10px;
    height: 40%;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    margin: 50% 1% 0 1%;
    font-size: 2.25em;
  }

  h2, h3 {
    font-size: 2em;
  }

  .menu {
    font-size: 1.5em;
  }

  #aboutme {
    margin-top: 150%;
  }

  .aboutmetext {
    font-size: 1em;
  }

  .container {
    margin-top: -25%;
    margin-bottom: 25%;
    width: 150px
  }

  #portfolio {
    margin-top: 375%;
  }

  .projects {
    width: 100%;
    height: 30%;
    border-spacing: 5px;
  }

  .intro {
    font-size: 1em;
    width: 80%;
  }

  .project1toggle, .project2toggle, .project3toggle, .project4toggle, .project5toggle, .project6toggle {
    font-size: .6em;
  }
}
