body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#home {
  z-index: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgb(91, 129, 255);
}

#hometext {
  position: absolute;

}

.intro {
  font-family: "Work Sans", serif;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  font-weight: auto;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: solid;
  border-width: .1em;
  padding: 1% 1%;
  width: 55%;
  margin: 0% 22.5%;
}

h1 {
  text-align: center;
  font-family: "CocoGothicSmallCaps-Bold", sans-serif;
  font-size: 4.5em;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  width: 55%;
  margin: 15% 22.5% 0% 22.5%;
  padding: 1% 0%;
}

.menuitems {
  list-style-type: none;
  color: rgb(255, 255, 255);
  margin: 3% -13%;
}

.submenu {
  list-style-type: upper-roman;
  margin: -2% 0 5% 0;
  line-height: .6em;
  box-sizing: border-box;
  width: 80%;
  line-height: 1.5em;
  font-weight: lighter;
  font-size: .65em;
  font-family: "Work Sans", sans-serif;
}

.menu {
  width: 22%;
  text-align: left;
  font-family: "Work Sans",sans-serif;
  font-size: 1.75em;
  line-height: 1.5em;
  margin-top: 3%;
  margin-left: .5%;
  position: fixed;
  z-index: 2;
  color: rgb(255, 255, 255);
}

a, a:visited {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(255, 45, 126);
}

.menuicon {
    font-size: 2em;
    margin: -.5% 0%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    position: fixed;
}

#aboutme {
  z-index: 0;
  display: block;
  position: absolute;
  box-sizing: border-box;
  margin-top: 80%;
  width: 100%;
  height: 175%;
  background-color: rgb(119, 151, 255);
}

.mypic {
  width: 25%;
  height: 25%;
  margin: auto;
  display: block;
  background-image: url(../images/me.png);
  background-size: cover;
  border-radius: 100%;
  overflow: hidden;
}

h2, h3 {
  font-family: "CocoGothicSmallCaps-Bold", serif;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  width: 100%;
  height: 8%;
  line-height: 1em;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

h2 {
  background-color: rgb(119, 151, 255);
  margin-top: 0%;
}

h3 {
  background-color: rgb(150, 175, 255);
  margin: 0% auto;
}

#portfolio {
  z-index: 0;
  position: absolute;
  box-sizing: border-box;
  margin-top: 175%;
  width: 100%;
  height: 175%;
  background-color: rgb(150, 175, 255);
  font-family: "Work Sans", sans-serif;
  color: rgb(255, 255, 255);
}

/*#project1head, #project2head {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.5em;
  font-family: "LuloCleanOutline-Bold", sans-serif;

}*/

.project1 {
  z-index: 0;
  width: 25%;
  height: 25%;
  background-image: url(../images/bracelus.png);
  background-size: cover;
  background-position: center;
  margin-left: 25%;
  margin-top: 5%;
}

.project1shadow {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.project1text {
  width: 100%;
  height: 100%;
  margin-left: 105%;
}

.project1, .project1text, .project1shadow {
  position: inline-block;
}

.project2 {
  z-index: 0;
  width: 25%;
  height: 25%;
  background-image: url(../images/paddles.png);
  background-size: cover;
  background-position: center;
  margin-left: 50%;
}

.project2shadow {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.project2text {
  width: 100%;
  height: 100%;
  margin-right: 100%;

span {
  font-weight: lighter;
}
