body {
  height: 100vh;
  background-image: url(../images/ppnu/ppmachines.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 300;
  font-family: "Karla", sans-serif;
  font-size: 1.15em;
}

.parallax_background {
  scroll-behavior: smooth;
  perspective: 1px;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

#intro {
  background-color: rgba(153, 165, 255,0.4);
  height: 110vh;
  margin-top: -30px;
  padding-top: 10px;
}
h1 {
  font-family: "Shrikhand";
  font-size: 4em;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 1px;
  margin-bottom: 0;

}

h2 {
  font-weight: 700;
}

#subheader {
  text-align: center;
  font-style: italic;
  font-size: 0.95em;
}

#introblurb {
  width: 45%;
  margin: auto;
  margin-top: 60px;
}

a {
  font-weight: 700;
  color: black;
}

a:hover {
  color:rgb(244, 66, 66);
}
#secondbackground {
  width: 100%;
  box-sizing: content-box;
  overflow: hidden;
  background-color: white;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 100px;

}
#problem {
  margin-left: 100px;
  margin-right: 100px;
  width: 40%;
  float: left;
}

#challenges {
  margin-right: 50px;
  float: right;
  width: 40%;
}

#processflowpic {
  width: 70%;
  height: 550px;
  margin: auto;
  margin-top: 100px;
  background-image: url(../images/ppnu/processflow.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

#processflowpic h2 {
  margin-top: -50px;
}

#machines {
  margin-top: 50px;
  /* padding-left: 50px;
  padding-right: 50px; */
}

#machines_text {
  padding-left: 50px;
  padding-right: 50px;
}

#cleanerpic {
  width: 50%;
  height: 400px;
  margin-right: 20px;
  float: right;
  background-image: url(../images/ppnu/cleaner.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

}
#storyboardpic {
  padding-top: 80px;
  width: 100%;
  height: 600px;
  clear: both;
  margin: auto;
  margin-top: 600px;
  background-image: url(../images/ppnu/storyboard.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: white;
}

#storyboardpic h2 {
  margin-top: -50px;
  margin-left: 50px;
}
